img {
    max-width: 25%;
    height: auto;
    background-color: #145972;
    border: 1px solid #ddd;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: silver;
    border-style: inset;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px rgba(31, 31, 86, 0.25);
    line-height: 1.8;
    margin-left: 39.5%;
    margin-right: 40%;
    width: 20%;
    font-size: 2rem;
    font-family: "Andale Mono", serif;
    color: darkviolet;
    border-style: ridge;
}

p {
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-family: "Andale Mono", serif;
    color: royalblue;
    border-style: groove;
}